:root {
  --primary-color: #90c3c8;
  --heading: "Kiwi Maru", serif;
  --regular: "Montserrat", sans-serif;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 10px;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 16px;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: var(--regular);
}

nav .active a {
  color: var(--primary-color);
}

nav a:hover {
  color: rgb(117, 117, 117);
  transition: all 100ms ease-in-out;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 180px 20px;
}

.salutation {
  font-family: var(--regular);
  font-size: 40px;
}

p,
h2 {
  font-family: var(--regular);
  font-size: 20px;
}

h1 {
  font-family: var(--heading);
  font-size: 64px;
}

.contact-button {
  background-color: white;
  color: #6c757d;
  font-size: 21px;
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.contact-button:hover {
  color: black;
}

.image {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.description {
  text-align: left;
  margin-top: 50px;
}

.row h2 {
  font-weight: bolder;
  font-size: 30px;
  font-family: var(--heading);
  margin-bottom: -30px;
}

.button {
  background-color: var(--primary-color);
  margin-top: 0px;
}

.button:hover {
  color: white;
}

.container {
  margin-bottom: 50px;
}

.content-container .col-6 {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.content-container {
  padding: 180px 20px;
}

.content-container h1 {
  font-size: 48px;
}

.content-container h2 {
  font-size: 18px;
}

.content-container h3 {
  font-family: var(--regular);
  font-size: 24px;
  margin-top: 20px;
  font-weight: 900;
}

.text {
  margin-top: 50px;
}

.img-me {
  margin-top: -50px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: rgb(117, 117, 117);
}

footer {
  margin: 50px 0;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px;
  margin: 40px 0;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
  margin-left: 60px;
}

footer h4 {
  font-family: var(--heading);
  font-size: 35px;
  margin-left: 60px;
}

footer .footer-button {
  background: white;
  color: black;
  margin-top: 13px;
  margin-right: 60px;
  padding: 15px 15px;
}

footer .footer-button:hover {
  color: var(--primary-color);
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.footer-link:hover {
  color: rgb(117, 117, 117);
}

.social a {
  margin: 0 15px;
  color: var(--primary-color);
  background: white;
  padding: 6px 10px;
  font-size: 30px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.social a:hover {
  color: white;
  background: var(--primary-color);
}

@media (max-width: 994px) {
  .description {
    text-align: center;
  }

  nav a {
    font-size: 13px;
  }
}
