:root {
  --primary-color: #90c3c8;
  --heading: "Kiwi Maru", serif;
  --regular: "Montserrat", sans-serif;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 180px 20px;
}

.salutation {
  font-family: var(--regular);
  font-size: 40px;
}

p,
h2 {
  font-family: var(--regular);
  font-size: 20px;
}

h1 {
  font-family: var(--heading);
  font-size: 64px;
}

.contact-button {
  background-color: white;
  color: #6c757d;
  font-size: 21px;
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.contact-button:hover {
  color: black;
}

.image {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.description {
  text-align: left;
  margin-top: 50px;
}

.row h2 {
  font-weight: bolder;
  font-size: 30px;
  font-family: var(--heading);
  margin-bottom: -30px;
}

.button {
  background-color: var(--primary-color);
  margin-top: 0px;
}

.button:hover {
  color: white;
}

.container {
  margin-bottom: 50px;
}

@media (max-width: 994px) {
  .description {
    text-align: center;
  }
}

.about-page {
  padding: 180px 20px;
}

.about-page .col-6 {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.about-page h1 {
  font-size: 48px;
}

.about-page h2 {
  font-size: 18px;
}

.about-page p {
  margin-top: 50px;
}
