:root {
  --primary-color: #759fbc;
}

body {
  text-align: center;
}

.hero {
  background: var(--primary-color);
  padding: 20px;
  padding-top: 50px;
}

.hero p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Kiwi Maru", serif;
  font-size: 60px;
}

h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.btn {
  background-color: white;
  margin-top: 25px;
  padding: 10px 20px;
}
